<header>
    <img src="images/logo.png" alt="logo" id="logo"/>
    <img src="images/full_logo.png" alt="full logo" id="full-logo"/>

    <button class="hamburger" id="hamburger" onclick="toggleHamburger()">&#9776;</button>
</header>


