<nav>
    <ul>
        <a href="/" class="current">Home</a>
        <a href="/resume">Resume</a>
        <a href="/#project-main">Projects</a>
        <a href="/#contact">Contact Me</a>
    </ul>
</nav>
<p>All Content &copy; Rachel Bichsel</p>