<!DOCTYPE html>

<!-- PICTURE BOOK PAGE -->
<html lang="en-us">

<head>
    <title>Rachel Bichsel | Activity Book</title>
    <link href="../styles/main.css" rel="stylesheet">

    <link href="../styles/medium.css" rel="stylesheet">

    <link href="../styles/large.css" rel="stylesheet">
    <link href="../styles/normalize.css" rel="stylesheet">

    <meta charset="utf-8" />
</head>

<body>
    <header>
        <nav>
            <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
            <ul id="primNav" class="hide headNav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../resume.html">Resume</a></li>
                <li class="current"><a href="../projects.html">Projects</a></li>
                <li><a href="../contact.php">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="projects-main">
        <div class="flex-item">
            <img class="images" src="../images/activity-book-full.jpg" alt="Mock Exhibit Poster">
        </div>
        <div class="flex-item2">
            <h1 class="projects-h1">Picture Book</h1>
            <h2>Description</h2>
            <p>This was a book I made for Silly Bee Songs. I created all of the images and where things were placed on the page.</p>
            <h2>Programs Used</h2>
            <p>Illustrator, InDesign</p>
            <h2>View PDF of Full Book</h2>
            <a class="projects-link" href="../images/LB-book-final3.pdf" alt="activity book pdf" target="_blank">Ladybug Book PDF</a> <br />
            <a class="back" href="../projects.html">Back to Projects Page</a>
        </div>
    </main>
    <footer>
        <% include ../partials/footer.ejs %>   
    </footer>
    <script src="hamburger.js"></script>
</body>

</html>
