<!DOCTYPE html>

<!-- PICTURE BOOK PAGE -->
<html lang="en-us">

    <head>
        <title>Rachel Bichsel | Apache Pest Control</title>
        <% include ../../partials/project-head.ejs %>
    </head>

    <body>
        <header>
            <% include ../../partials/project-nav.ejs %>
        </header>

        <main class="projects-main">

            <img class="images" src="../images/burger-motion-desktop.jpg" alt="Apache Pest Control Header">
            <div>
                <div id="project-header">
                    <h1>Apache Junction Pest Control</h1>
                </div>
                <h3>September, 2020</h3>
                <p class="left-align">This website was created to sell to pest control companies in the Apache Junction area. Hangar Marketing used this website to help booster an actual pest control company in Arizona. I had full creative control on this project but it was suggested that I include culture from the city of Apache Junction within the website.</p>
                <h3>Process</h3>
                <p class="left-align">Before any work was done, thorough research on successful fast food restaurants was conducted, especially ones that sell hamburgers. I took note of the colors they used and how they are currently doing online ordering. Next, a name was picked out for the restaurant followed by creating a logo on Adobe Illustrator. Then a digital sketch of the index page was created with Adobe XD. This laid the foundation of how the rest of the website would look and flow. The database scheme was then created before starting on the coding. Eight weeks were spent on the backend code and two weeks were spent on the CSS and frontend.</p>

            </div>

            <h2>Responsive</h2>
            <div class="flex">
                <figure>
                    <img src="../images/apache/mobile_responsive.png" alt="mobile version of website">
                    <figcaption>mobile view</figcaption>
                </figure>
                <figure>
                    <img src="../images/apache/tablet_responsive.png" alt="tablet version of website">
                    <figcaption>tablet view</figcaption>
                </figure>
                
            </div>
            <h2>Website</h2>
            <div class="flex">
                <figure>
                    <img src="../images/apache/pestcontrol_home.png" alt="web version of website">
                    <figcaption>mobile</figcaption>
                </figure>
                <figure>
                    <img src="../images/apache/pestcontrol_about.png" alt="about page">
                    <figcaption>About Page</figcaption>
                </figure>
                <figure>
                    <img src="../images/apache/pestcontrol_contact.png" alt="contact page">
                    <figcaption>Contact Page</figcaption>
                </figure>
                <figure>
                    <img src="../images/apache/pestcontrol_scorpion.png" alt="Scorpion Page">
                    <figcaption>Pest Page Example</figcaption>
                </figure>
            </div>
            <a class="back" href="/#project-main">Back to Projects</a>
        </main>
        <footer>
            <% include ../../partials/project-footer.ejs %>
        </footer>
        <script src="../scripts/hamburger.js"></script>
    </body>
</html></body></html>
