<!DOCTYPE html>

<!-- COWBOYS PAGE -->
<html lang="en-us">
    <head>
        <title>Rachel Bichsel | Cowboy's Smokehouse</title>
        <% include ../../partials/project-head.ejs %>
    </head>

    <body>
        <header>
            <% include ../../partials/project-nav.ejs %>
        </header>
        <main class="projects-main">
            <img class="images" src="../images/cowboys.JPG" alt="Mock Exhibit Poster">
            <div id="project-info">
                <div>
                    <div id="project-header">
                        <h1>Cowboy's Smokehouse</h1>
                        <a class="projects-link" href="https://xd.adobe.com/view/1fa1a333-8dc8-471b-4c21-995128ed63a9-6990/" target="_blank">View Interactive Design</a>
                    </div>
                    <p>In this project, I picked a real restaurant website that needed improvement and did a redesign of it. I conducted interviews of my audience and users test the design to find pitfalls. The final interactive design was made in Adobe XD.</p>
                    <h3>Process</h3>
                    <p>I looked around and found a restaurant that currently had a website that could improve its UX and UI. Once I found the website, I then conducted interviews with my target audience to get a feel of what things annoyed them on current websites and what colors they thought of when they imagined a restaurants that has steak on the menu. I then started the process of creating a interactive Adobe XD app. The focus was to make sure the website is easy to navigate and the user can quickly find the correct information. Lastly, I conducted user experiments to make sure the design I created meet my goals.</p>

                </div>
                <div id="icons">
                    <h3>Programs/Software Used</h3>
                    <ul>
                        <li>Adobe Illustrator</li>
                        <li>Adobe Photoshop</li>

                    </ul>
                </div>

            </div>

            <a class="back" href="../projects.html">Back to Projects</a>
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../contact.php">Contact</a></li>
                </ul>
            </nav>
            <p>All Content &copy; Rachel Bichsel</p>
        </footer>
        <script src="../scripts/hamburger.js"></script>
    </body>
</html>
