<!DOCTYPE html>

<!-- PICTURE BOOK PAGE -->
<html lang="en-us">

<head>
    <title>Rachel Bichsel | Gresham Fencing</title>
    <% include ../../partials/project-head.ejs %>
</head>

<body>
    <header>
        <% include ../../partials/project-nav.ejs %>
    </header>

    <main class="projects-main">

        <img class="images" src="../images/burger-motion-desktop.jpg" alt="Haunted House App">
        <div id="project-info">
            <div>
                <div id="project-header">
                    <h1>Burger Motion Website</h1>
                </div>

                <p>With COVID-19 taking a big hit on companies, many local restaurants started to struggle as patrons could no longer eat at their restaurant. Especially, those that do not have online ordering capabilities. This project was created to create a solution to that problem. All menu items are pulled from a database and then displayed on the website. The website is responsive, designed for both mobile phones and desktops.</p>
                <h3>Process</h3>
                <p>Before any work was done, thorough research on successful fast food restaurants was conducted, especially ones that sell hamburgers. I took note of the colors they used and how they are currently doing online ordering. Next, a name was picked out for the restaurant followed by creating a logo on Adobe Illustrator. Then a digital sketch of the index page was created with Adobe XD. This laid the foundation of how the rest of the website would look and flow. The database scheme was then created before starting on the coding. Eight weeks were spent on the backend code and two weeks were spent on the CSS and frontend.</p>

            </div>
            <div id="icons">
                <h3>Programs/Software Used</h3>
                <ul>
                    <li>Adobe XD</li>
                    <li>Adobe Illustrator</li>
                    <li>Node.js</li>
                    <li>Postresql</li>
                </ul>
            </div>

        </div>

        <div class="flex">
            <figure>
                <img src="../images/burger-motion-sketch-mobile.jpg" alt="Digital Sketch Mobile">
                <figcaption>Adobe XD Mobile</figcaption>
            </figure>
            <figure>
                <img src="../images/burgermotion_logo.png" alt="logo" style="width:80%">
                <figcaption>Website Logo</figcaption>
            </figure>

        </div>
        <figure>
            <img class="item-two" src="../images/burger-motion-sketch-web.jpg" alt="Digital Sketch Web">
            <figcaption></figcaption>
        </figure>
        <a class="back" href="../projects.html">Back to Projects</a>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../contact.php">Contact</a></li>
            </ul>
        </nav>
        <p>&copy; 2020 Rachel Bichsel. All rights reserved.</p>
    </footer>
    <script src="../scripts/hamburger.js"></script>
</body>

</html>
