<!DOCTYPE html>

<!-- HAUNTED HOUSE PAGE -->
<html lang="en-us">

    <head>
        <title>Rachel Bichsel | Haunted House Riddle</title>
        <% include ../../partials/project-head.ejs %>
    </head>

    <body>
        <header>
            <% include ../../partials/project-nav.ejs %>
        </header>
        <main class="projects-main">
            <img class="images" src="../images/haunted-house-mobile.jpg" alt="Haunted House App">
            <div id="project-info">
                <div>
                    <div id="project-header">
                        <h1>Haunted House Riddle</h1>
                        <a class="projects-link" href="https://bichsel-rachel.github.io/classes/cit261/final/index.html" target="_blank">View Project</a>
                    </div>
                    <p>This is a single page mobile web application that was done all through JavaScript functions. The purpose of this project was to apply design principles that are supposed to be viewed through a phone.</p>
                    <h3>Process</h3>
                    <p>The requirement of this project was to create a mobile web application. I decided to create a single page application using only JavaScript functions. A weather API was used to grab the current weather of the inputted zip code. The name of the user is stored in a session throughout the riddle application. The user goes through each level by typing in the correct answer. If the user inputs the incorrect answer, an error message will appear and prevent the user from going onto the next level.</p>

                </div>
                <div id="icons">
                    <h3>Programs/Software Used</h3>
                    <ul>
                        <li>HTML, CSS, JavaScript</li>
                        <li>Adobe Photoshop</li>
                    </ul>
                </div>

            </div>

            <a class="back" href="/#project-main">Projects</a>Back to Projects</a>
        </main>
        <footer>
            <% include ../../partials/project-footer.ejs %>
        </footer>
        <script src="../scripts/hamburger.js"></script>
    </body>

</html>
