<!DOCTYPE html>

<!-- MANUALS J & D PAGE -->
<html lang="en-us">

    <head>
        <title>Rachel Bichsel | Manual J&D Designers</title>
        <% include ../../partials/project-head.ejs %>
    </head>

    <body>
        <header>
            <% include ../../partials/project-nav.ejs %>
        </header>

        <main class="projects-main">
            <div id="project-info">
                <div>
                    <div id="project-header">
                        <h1>Manual J&D Designers</h1>
                    </div>

                    <p>Manual J&D Designers is a starter-up compnay in Idaho Falls, Idaho. They didn't have a lgor or website. The company review the HVAC that contractors are going to put into a home/building and determine if it is the correct size, layout and paower needed to cool and heat the building. I was given full creative control on this project. They didn't have any specifications on what the lgo or website should look like. I was given a list of competitors to look at. It was my job to determine was was needed on the website.</p>
                </div>

            </div>
            <div>
                <h2>Process</h2>
                <h3>Logo Objective</h3>
                <p>My goal for the logo was to make it unique and modern. I originally had three direction but then decided I needed another direction that didn't include a house. I decided to go more abstract to make sure this company would have a logo that would stand out. The abstract logo was the one the client ended up picking</p>
                <h3>Logo Sketches</h3>
                <div class="flex">
                    <figure>
                        <img src="../images/manual/hvac_sketches1.jpg" alt="Hand Sketches 1">
                        <figcaption>Sketches</figcaption>
                    </figure>
                    <figure>
                        <img src="../images/manual/hvac_sketches2.jpg" alt="Hand Sketches 2">
                        <figcaption>Sketches Cont.</figcaption>
                    </figure>
                </div>
                <h3>Digital Logo Drafts</h3>
                <div class="flex">
                    <figure>
                        <img src="../images/manual/logo-v1.jpg" alt="Logo Version 1">
                        <figcaption>Logo Version 1</figcaption>
                    </figure>
                    <figure>
                        <img src="../images/manual/logo-v2.jpg" alt="Logo Version 2">
                        <figcaption>Logo Version 2</figcaption>
                    </figure>
                    <figure>
                        <img src="../images/manual/logo-v3.jpg" alt="Logo Version 3">
                        <figcaption>Logo Version 3</figcaption>
                    </figure>
                </div>

                <h3>Final Logo</h3>
                <div class="flex">
                    <figure>
                        <img src="../images/manual/final_logo.png" alt="Logo Version 1">
                        <figcaption>Final Logo</figcaption>
                </div>
                <h3>Website</h3>
                <p>My goal for the website was to create a modern feel and have more of a white website. I wanted to avoid clutter since I noticed that a lot of HVAC websites looked crowded and cluttered with information that really didn't need to be added or could have been presented in a better way. I decided to incorporate aspects of the logo where I could to help create repetition and branding throughout the website.</p>
                <div class="flex">
                    <figure>
                        <img src="../images/manual/hvac_home.png" alt="Digital Sketch Mobile">
                        <figcaption>Home Page</figcaption>
                    </figure>
                    <figure>
                        <img src="../images/manual/hvac_services.png" alt="Digital Sketch Mobile">
                        <figcaption>Services Page</figcaption>
                    </figure>
                </div>
                <div class="flex">
                    <figure>
                        <img src="../images/manual/hvac_about.png" alt="Digital Sketch Mobile">
                        <figcaption>About Page</figcaption>
                    </figure>
                    <figure>
                        <img src="../images/manual/hvac_contact.png" alt="logo" style="width:80%">
                        <figcaption>Contact Page</figcaption>
                    </figure>

                </div>
            </div>

            <a class="back" href="/#project-main">Back to Projects</a>
        </main>
        <footer>
            <% include ../../partials/project-footer.ejs %>
        </footer>
        <script src="../scripts/hamburger.js"></script>
    </body>

</html>
