<!DOCTYPE html>

<!-- MOUNTAIN SPOKE PAGE -->
<html lang="en-us">

    <head>
        <title>Rachel Bichsel | Mountain Spoke</title>
        <% include ../../partials/project-head.ejs %>
    </head>

    <body>
        <header>
            <% include ../../partials/project-nav.ejs %>
        </header>

        <main class="projects-main">
            <img class="images" src="../images/mountain-spoke-desktop.jpg" alt="Mountain Spoke">
            <div id="project-info">
                <div>
                    <div id="project-header">
                        <h1>Mountain Spoke Website</h1>
                        <a class="projects-link" href="https://bichsel-rachel.github.io/classes/cit230/assignments/final/index.html" target="_blank">View Project</a>
                    </div>
                    <p>This project focused on the frontend of developemnt. It is a responsive website for a made-up biking website called The Mountain Spoke.</p>
                    <h3>Process</h3>
                    <p>Before any coding was done, a site plan was created for the layout and styling of the website. In the site plan, digital sketches of the website were created. A google API was used on the contact page.</p>

                </div>
                <div id="icons">
                    <h3>Programs/Software Used</h3>
                    <ul>
                        <li>HTML, CSS, JavaScript</li>
                        <li>Adobe Photoshop</li>
                    </ul>
                </div>

            </div>
            <div class="flex">
                <figure>
                    <img src="../images/mountain-tours.jpg" alt="tours page">
                    <figcaption>Tours Page</figcaption>
                </figure>
                <figure>
                    <img src="../images/mountain-register.jpg" alt="register event">
                    <figcaption>Register Event Page</figcaption>
                </figure>

            </div>
            <div class="flex">
                <figure>
                    <img src="../images/mountain-sales.jpg" alt="sales page">
                    <figcaption>Sales Page</figcaption>
                </figure>
                <figure>
                    <img src="../images/mountain-services.jpg" alt="services page">
                    <figcaption>Services Page</figcaption>
                </figure>

            </div>
            <div class="flex">
                <figure>
                    <img src="../images/mountain-contact.jpg" alt="contact page">
                    <figcaption>Contact Page</figcaption>
                </figure>

            </div>
            <a class="back" href="/#project-main">Projects</a>Back to Projects</a>
        </main>

        <footer>
            <% include ../../partials/project-footer.ejs %>
        </footer>
        <script src="../scripts/hamburger.js"></script>
    </body>

</html>
