<!DOCTYPE html>

<!--HOME PAGE-->
<html lang="en-us">

    <head>
        <title>Rachel Bichsel | Home Page</title>
        <% include ../partials/head.ejs %>
    </head>

    <body>

        <header>
            <% include ../partials/nav.ejs %>
        </header>
        <main>
            <div id="main">
                <h1 class="main-h1 top">Hello.</h1>
                <h1 class="main-h1 bottom">I'm Rachel Bichsel.</h1>
                <h2>Web Designer and Developer</h2>
                <div id="box-1"></div>
                <div id="box-2"></div>
                <div id="box-3"></div>
                <div id="box-4"></div>
            </div>
            
            <div id="project-main">
                <h2 class="proj-head" id="development">Projects</h2>
                <div class="grid-container">
                    <div>
                        <a class="grid-item" href="/projects/burger-motion"><img src="images/burger-motion.jpg" alt="Nodejs-Surviving Parenthood"></a>
                        <h3>Burger Motion Website</h3>
                        <h5>Node JS | Express | EJS | PostreSQL | Adobe XD | Adobe Illustrator</h5>
                    </div>
                    <div>
                        <a class="grid-item" href="/projects/surviving-parenthood"><img src="images/parenthood.JPG" alt="Nodejs-Surviving Parenthood"></a>
                        <h3>Surviving Parenthood Website</h3>
                        <h5>Node JS | Express | EJS | PostreSQL</h5>
                    </div>
                    <div>
                        <a class="grid-item" href="/projects/hikers"><img src="images/hikers.jpg" alt="Hikers N Utah"></a>
                        <h3>Hikers N Utah Website</h3>
                        <h5>PHP | PostreSQL</h5>
                    </div>
                    <div>
                        <a class="grid-item" href="/projects/haunted"><img src="images/haunted-app-f.jpg" alt="Mobile Website"></a>
                        <h3>Haunted House Riddles Mobile Web Application</h3>
                        <h5>JavaScript</h5>
                    </div>
                    <div>
                        <a class="grid-item" href="/projects/mountain-spoke"><img src="images/mountain-spoke.jpg" alt="The mountain spoke"></a>
                        <h3>Mountain Spoke Website</h3>
                        <h5>JavaScript | jQuery</h5>
                    </div>
                    <div>
                        <a class="grid-item" href="/projects/cowboys.ejs"><img src="images/cowboys.JPG" alt="cowboy's smokehouse"></a>
                        <h3>Cowboy's Smokehouse Interactive Design</h3>
                        <h5>Adobe XD</h5>
                    </div>
                </div>
                <!-- div below is to make sure that these boxes are aligned with boxes in design section-->
                <!--				<div class="grid-item empty"></div>-->

                <h2 class="proj-head" id="design">WordPress</h2>

                <div class="grid-container">
                    <a class="grid-item" href="/projects/manual-designers"><img src="images/manual/hvac_icon.jpg" alt="Manual J & D Designers"></a>
                    <a class="grid-item" href="/projects/apache-pest-control"><img src="images/apache/apache_icon.jpg" alt="Apache Junction Pest Control"></a>
                    <a class="grid-item" href="/projects/gresham-fencing"><img src="images/gresham/gresham_icon.jpg" alt="Gresham Fencing"></a>

                </div>
            </div>
            <!-- <div id="contact">
                <h2>Contact Me</h2>
                <p>* All fields are required</p>
                <form>
                    <input type="text" id="name" name="name" placeholder="Name" required/>
                    <input type="email" id="email" name="email" placeholder="Email" required/>
                    <textarea name="message" rows="10" cols="30" placeholder="Put message here"></textarea>
                    <button class="g-recaptcha" data-sitekey="reCAPTCHA_site_key" data-callback='onSubmit' data-action='submit'>Submit</button>
                </form>
            </div> -->
        </main>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
        <script>
            function onSubmit(token) {
                document.getElementById("demo-form").submit();
            }
        </script>
        <script src="hamburger.js"></script>
    </body>

</html>
