<!DOCTYPE html>

<!--HOME PAGE-->
<html lang="en-us">

<head>
    <title>Rachel Bichsel | Home Page</title>
    <% include ../partials/head.ejs %>
</head>

<body>
    
    <header>

        <nav>
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                <div id="primNav" class="overlay-content headNav">
                    <a href="/" class="current">Home</a>
                    <a href="/resume">Resume</a>
                    <a href="#project-main">Projects</a>
                    <a href="#contact">Contact Me</a>
                </div>
            </div>
            <button class="hamburger" id="hamburger" onclick="openNav()">&#9776;</button>
        </nav>
    </header>
    <main>
    <div id="main">
        <h1 class="main-h1 top">Hello.</h1>
        <h1 class="main-h1 bottom">I'm Rachel Bichsel.</h1>
        <h2>Web Designer and Developer</h2>
        <div id="box-1"></div>
        <div id="box-2"></div>
        <div id="box-3"></div>
        <div id="box-4"></div>
        <!---<div id="block-2"></div>--->
    </div>
    <div>
    <h2 id="about">About Me</h2>   
    </div>
    <div id="project-main">
        <h1>Projects</h1>

        <h2 class="proj-head" id="development">Development</h2>
        <div class="grid-container">
            <a class="grid-item" class="blurImage" href="pages/projects/burger-motion"><img src="images/burger-motion.jpg" alt="Nodejs-Surviving Parenthood"></a>
            <a class="grid-item" class="blurImage" href="pages/projects/surviving-parenthood"><img src="images/surviving-parenthood.JPG" alt="Nodejs-Surviving Parenthood"></a>
            <a class="grid-item" class="blurImage" href="pages/projects/hikers"><img src="images/hikers.jpg" alt="Hikers N Utah"></a>
            <a class="grid-item" class="blurImage" href="pages/projects/haunted"><img src="images/haunted-app-f.jpg" alt="Mobile Website"></a>
            <a class="grid-item" class="blurImage" href="pages/projects/mountain-spoke"><img src="images/mountain-spoke.jpg" alt="The mountain spoke"></a>


        </div>
        <!-- div below is to make sure that these boxes are aligned with boxes in design section-->
        <!--				<div class="grid-item empty"></div>-->

        <h2 class="proj-head" id="design">Design</h2>

        <div class="grid-container">
            <a class="grid-item" href="pages/projects/cowboys.ejs"><img src="images/cowboys.JPG" alt="cowboy's smokehouse"></a>
            <a class="grid-item" href=""><img src="" alt="Manual J & D Designers"></a>
            <a class="grid-item" href=""><img src="" alt="Apache Junction Pest Control"></a>
            <a class="grid-item" href=""><img src="" alt="Gresham Fencing"></a>

        </div>
    </div>
    <div id="contact">
        <h2>Contact Me</h2>
    </div>
</main>
    <footer>
        <% include ../partials/footer.ejs %>   
    </footer>

    <script src="hamburger.js"></script>
</body>

</html>
