<!DOCTYPE html>

<!--RESUME PAGE-->
<html lang="en-us">
    <head>
        <title>Rachel Bichsel | Resume</title>
        <% include ../partials/head.ejs %>
    </head>

    <body>
        <header>
            <% include ../partials/nav.ejs %>
        </header>
</html></header><main>
<div class="resume">
    <img src="images/bichsel_resume.jpg">
</div></main>
<footer>
<% include ../partials/footer.ejs %>
</footer>
<script src="hamburger.js"></script>
</body></html>
